<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LicenseCode</key>
	<string>BKR1-5136-98E7-01BF-218A</string>
	<key>LicenseOwner</key>
	<string>BeLight Software Ltd.</string>
</dict>
</plist>
